<template>
  <body>
    <section class="vh-100" style="background-color: #eee">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col col-lg-9 col-xl-7">
            <div class="card rounded-3">
              <div class="card-body p-4">
                <h4 class="text-center my-3 pb-3">To Do List</h4>

                <div
                  class="row row-cols-lg-auto g-3 justify-content-center align-items-center mb-4 pb-2"
                >
                  <div class="col-6">
                    <div>
                      <input
                        type="text"
                        class="form-control"
                        id="floatingInput"
                        placeholder="Task here"
                        v-model="newTask"
                        @keypress.enter="addTask"
                      />
                    </div>
                  </div>

                  <div class="col-2">
                    <button class="btn btn-primary" @click="addTask">
                      Save
                    </button>
                  </div>
                </div>

                <table class="table mb-4">
                  <thead>
                    <tr>
                      <th scope="col">Todo item</th>
                      <th scope="col">Actions</th>
                    </tr>
                  </thead>
                  <tbody>
                    <p v-if="$fetchState.pending">
                      <span>Loading...</span>
                    </p>
                    <p v-else-if="$fetchState.error">
                      Error while fetching data 🤬
                    </p>
                    <Task
                      v-for="(task, i) in $store.state.tasks"
                      :key="i"
                      :task="task"
                    />
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</template>

<script>
export default {
  name: "IndexPage",
  data() {
    return {
      newTask: "",
    };
  },
  async fetch() {
    await fetch("http://localhost:4000/api/list", {
      method: "GET",
      mode: "cors",
      headers: { "Access-Control-Allow-Origin": "*" },
    })
      .then((response) => response.json())
      .then((data) => {
        for (let i = 0; i < data.length; i++) {
          let index = this.$store.state.tasks.findIndex(
            (x) => x.content._id == data[i]._id
          );
          if (index === -1) {
            this.$store.commit("INIT_TASK", data[i]);
          }
        }
      });
  },
  methods: {
    addTask() {
      if (this.newTask) {
        const payload = { title: this.newTask };
        const data = JSON.stringify(payload);
        fetch("http://localhost:4000/api/list", {
          method: "POST",
          mode: "cors",
          headers: {
            "Access-Control-Allow-Origin": "*",
            "Content-Type": "application/json",
          },
          body: data,
        })
          .then((response) => response.json())
          .then((data) => {
            this.$store.commit("ADD_TASK", data);
          });
        this.newTask = "";
      }
    },
  },
};
</script>
