<template>
  <tr>
    <td class="col-3">{{ task.content.title }}</td>
    <td class="col-1">
      <button type="submit" class="btn btn-danger" @click="removeTask">
        Delete
      </button>
    </td>
  </tr>
</template>

<script>
export default {
  props: ["task"],
  methods: {
    removeTask() {
      this.$store.commit("REMOVE_TASK", this.task);
      fetch(`http://localhost:4000/api/list/${this.task.content._id}`, {
        method: "DELETE",
        mode: "cors",
        headers: { "Access-Control-Allow-Origin": "*" },
      });
    },
  },
};
</script>
